@import url("https://fonts.cdnfonts.com/css/svn-gilroy");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "svn-gilroy";
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.py-1 {
  padding-block: 1rem;
}

.py-2 {
  padding-block: 2rem;
}

.py-3 {
  padding-block: 3rem;
}

.py-4 {
  padding-block: 4rem;
}

.px-1 {
  padding-inline: 1rem;
}

.px-2 {
  padding-inline: 2rem;
}

.px-3 {
  padding-inline: 3rem;
}

.px-4 {
  padding-inline: 4rem;
}

.d-f {
  display: flex;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.j-c {
  justify-content: center;
}

.j-s-b {
  justify-content: space-between;
}

.j-s-e {
  justify-content: space-evenly;
}

.j-s-a {
  justify-content: space-around;
}

.align-c {
  align-items: center;
}

.align-s {
  align-items: start;
}

.align-e {
  align-items: end;
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 3rem;
}

.g-4 {
  gap: 4rem;
}

.g-8 {
  gap: 310px;
}

.f-d-c {
  flex-direction: column;
}

.f-d-r {
  flex-direction: row;
}

section#aside {
  background: #fceed5;
  overflow: hidden;
}
section#aside .aside-content {
  margin-top: 5%;
}
section#aside .aside-content .aside-heading {
  color: #002a48;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  text-transform: capitalize;
}
section#aside .aside-content .aside-heading-2 {
  color: #002a48;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  text-transform: capitalize;
}
section#aside .aside-content .aside-text {
  width: 480px;
  color: #242b33;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
section#aside .buttons {
  display: flex;
  gap: 1rem;
}
section#aside .buttons .btn-aside {
  display: inline-flex;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #003459;
}
section#aside .buttons .btn-aside-blue {
  display: flex;
  width: 163px;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  background: #003459;
  border-radius: 57px;
  background: #003459;
  color: #fdfdfd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
section#aside .aside-images {
  position: relative;
  right: -5%;
}
section#aside .aside-images .aside-img-2 {
  position: absolute;
  z-index: 1;
  top: -3%;
  left: 40%;
}
section#aside .aside-images .aside-img-3 {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: 10%;
}
section#aside .aside-images .aside-img-4 {
  position: absolute;
  z-index: 3;
  top: 12%;
  left: 10%;
}
section#aside .aside-images .aside-img-5 {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 4;
  bottom: -25%;
  left: 10%;
  width: 635px;
  height: 635px;
  transform: rotate(9.355deg);
}
section#aside .aside-images .aside-img-7 {
  width: 635px;
  height: 635px;
  position: absolute;
  z-index: 6;
  bottom: -30%;
  left: 14%;
  width: 635px;
  height: 635px;
  transform: rotate(25.23deg);
}
section#aside .aside-images .aside-img-6 {
  position: absolute;
  z-index: 5;
  top: 90%;
  left: -70%;
}
section#aside .aside-images .aside-img {
  position: relative;
  z-index: 7;
  bottom: -10%;
  width: 944px;
  height: 693px;
}

.banner-box {
  background: #003459;
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
}
.banner-box .banner-box-rectangle {
  position: absolute;
  z-index: 1;
  right: -0.5%;
  border-radius: 20px;
}
.banner-box .banner-box-content {
  position: absolute;
  z-index: 2;
  top: 10%;
  right: 3%;
}
.banner-box .banner-box-content .banner-box-heading {
  color: #003459;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px; /* 130.769% */
  text-transform: capitalize;
}
.banner-box .banner-box-content .banner-box-heading-4 {
  color: #003459;
  text-align: right;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 150% */
  text-transform: capitalize;
}
.banner-box .banner-box-content .banner-box-text {
  width: 394px;
  color: #242b33;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding-top: 0.5rem; /* 150% */
}
.banner-box .buttons {
  display: flex;
  gap: 1rem;
  margin-left: 20%;
}
.banner-box .buttons .btn-aside {
  display: inline-flex;
  padding: 6px 20px 6px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #003459;
}
.banner-box .buttons .btn-aside-blue {
  display: flex;
  width: 163px;
  padding: 6px 12px 6px 12px;
  justify-content: center;
  align-items: center;
  background: #003459;
  border-radius: 57px;
  background: #003459;
  color: #fdfdfd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.brands-content {
  margin-left: 3%;
}
.brands-content .brands-text {
  color: #00171f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}
.brands-content .brands-heading {
  color: #003459;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  text-transform: capitalize;
}

.cards-blog-3 {
  display: flex;
  justify-content: space-between;
}

.card-blog-3 {
  display: inline-flex;
  padding: 8px 8px 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}
.card-blog-3 .more-card-heading {
  color: #00171f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.card-blog-3 .more-card-text {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.card-blog-3 .more-card-text .more-card-text-span {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

#footer {
  background: #fceed5;
}
#footer .footer-box-blue {
  width: 1376px;
  display: flex;
  padding: 32px;
  margin-left: -3%;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  background: #003459;
}
#footer .footer-box-blue-heading {
  width: 489px;
  text-align: left;
  color: #fdfdfd;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}
#footer .footer-box-blue-buttons {
  display: flex;
  width: 580px;
  padding: 12px;
  align-items: center;
  gap: 12px;
  border-radius: 14px;
  background: #fff;
}
#footer .email {
  display: flex;
  padding: 14px 28px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid #99a2a5;
  background: #fff;
  color: #99a2a5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
#footer .sub {
  display: flex;
  width: 163px;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #003459;
  color: #fdfdfd;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
#footer .footer-nav {
  display: flex;
}
#footer .footer-items-respon {
  width: 1376px;
  margin-left: -3%;
}
#footer .footer-item {
  color: #00171f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
#footer .fa-brands {
  width: 24px;
  height: 24px;
}
#footer .footer-text {
  color: #667479;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
#footer .footer-border {
  width: 1376px;
  border-top: 1px solid #99a2a5;
  margin-left: -3%;
}
#footer .footer-logo {
  width: 1376px;
  justify-content: space-between;
  align-items: center;
  margin-left: -3%;
}

.navtablet {
  width: 100%;
  display: none;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  height: 550px;
  background: #003459;
  padding: 1em;
}
.navtablet img {
  width: 92px;
  height: 32px;
}
.navtablet .sidebar {
  display: block;
}
.navtablet .sidebar .sidebar-btn {
  display: flex;
  width: 280px;
  padding: 12px 20px 12px 16px;
  align-items: center;
  gap: 12px;
  border-radius: 46px;
  background: #fdfdfd;
}
.navtablet .sidebar .sidebar-join {
  display: flex;
  width: 280px;
  height: 44px;
  padding: 14px 0px 10px 75px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 57px;
  background: #f7dba7;
}

header {
  background: #fceed5;
}
header .shapes-1 {
  position: absolute;
  z-index: 1;
}
header .logo {
  position: absolute;
  z-index: 2;
}
header .nav-text {
  color: #003459;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-left: 15%;
}
header .buttons {
  display: flex;
  gap: 1rem;
}
header .buttons .button {
  display: flex;
  width: 280px;
  padding: 12px 20px 12px 16px;
  align-items: center;
  gap: 12px;
  background: #fdfdfd;
  border-radius: 46px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #99a2a5;
}
header .buttons .join {
  display: flex;
  width: 280px;
  padding: 12px 20px 12px 26px;
  justify-content: center;
  align-items: center;
  background: #003459;
  border-radius: 46px;
  color: #fdfdfd;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
header .dropdown {
  position: relative;
  display: inline-block;
}
header .dropdown .fa-solid {
  padding-top: 0.3em;
  color: #002a48;
}
header .dropdown li {
  padding: 0.5em;
}
header .dropdown li:nth-child(1) {
  color: #00171f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
header .dropdown:hover .dropdown-content {
  display: block;
}
header .dropdown-buttons {
  flex-direction: column;
}
header .btn-aside {
  display: inline-flex;
  padding: 14px 28px 10px 28px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 57px;
  border: 1.5px solid #003459;
}
header .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background: #fceed5;
  width: 120px;
  height: 160px;
  padding: 30px;
}

.more-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.more-heading {
  color: #003459;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}

.more-btn {
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  color: #003459;
  font-size: 14px;
  font-style: medium;
  font-weight: 500;
  line-height: 20px;
}
.more-btn .fa-solid {
  color: #003459;
}

.more-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.more-card-1 {
  display: inline-flex;
  padding: 8px 8px 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-top: 1px solid rgb(255, 255, 255);
  transition: 0.4s;
}
.more-card-1 .more-card-1:hover {
  padding-left: 50px;
}
.more-card-1 .more-card-heading {
  color: #00171f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.more-card-1 .more-card-text {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.more-card-1 .more-card-text .more-card-text-span {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.more-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.more-heading {
  color: #003459;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}

.more-btn {
  display: inline-flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  color: #003459;
  font-size: 14px;
  font-style: medium;
  font-weight: 500;
  line-height: 20px;
}
.more-btn .fa-solid {
  color: #003459;
}

.more-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.more-card-1 {
  display: inline-flex;
  padding: 8px 8px 0px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 12px;
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}
.more-card-1 .more-card-heading {
  color: #00171f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.more-card-1 .more-card-text {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.more-card-1 .more-card-text .more-card-text-span {
  color: #667479;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

@media (max-width: 834px) {
  .container {
    width: 700px;
  }
  .navdesktop {
    display: none;
  }
  .navtablet {
    display: flex;
  }
  .logo {
    width: 92px;
    height: 32px;
  }
  .aside-heading {
    color: #242b33;
    font-size: 46px !important;
    font-style: normal;
    font-weight: 800;
    line-height: 60px !important;
    text-transform: capitalize;
  }
  .aside-heading-2 {
    color: #242b33;
    font-size: 28px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 38px !important;
    text-transform: capitalize;
  }
  .aside-text {
    width: 382px !important;
    color: #242b33;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 18px !important;
  }
  .class-respon {
    flex-direction: column;
  }
  .class-respon .aside-heading {
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
  }
  .class-respon .aside-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .class-respon .aside-images {
    margin-top: 5%;
    margin-right: 20%;
    margin-bottom: -20%;
  }
  .more-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1rem;
  }
  .banner-box-respon {
    flex-direction: column;
    width: 620px;
    height: 640px;
    margin-left: 5%;
    position: relative;
    overflow: hidden;
  }
  .banner-box-respon .banner-img {
    position: absolute;
    bottom: -0.6%;
  }
  .banner-box-respon .banner-box-poset {
    margin-top: -3rem;
  }
  .brands {
    display: none;
  }
  .cards-blog-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards-blog-3 .card-blog-3:nth-child(2) {
    display: none;
  }
  .cards-blog-3 .card-blog-3:nth-child(3) {
    display: none;
  }
  .footer-border {
    display: none;
  }
  .footer-respon {
    flex-direction: column;
  }
  .footer-respon .footer-box-blue {
    display: flex;
    width: 620px !important;
    height: 186px;
    padding: 12px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    gap: 16px !important;
  }
  .footer-respon .footer-box-blue-heading {
    width: 546px !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 32px !important;
  }
  .footer-respon .footer-box-blue-buttons {
    display: flex;
    width: 522px !important;
    padding: 12px !important;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
  .footer-respon .footer-items-respon {
    flex-direction: column;
  }
  .footer-respon .footer-items-respon .footer-item {
    margin-right: 20%;
  }
  .footer-respon .footer-items-respon .footer-item:nth-child(4) {
    margin-right: 0;
  }
  .footer-respon .footer-items-respon .footer-icons {
    margin-left: 13%;
    margin-top: 2%;
  }
  .footer-logo {
    flex-direction: column;
    gap: 2rem;
    padding-right: 120%;
  }
}/*# sourceMappingURL=main.css.map */