.py-1 {
  padding-block: 1rem;
}
.py-2 {
  padding-block: 2rem;
}

.py-3 {
  padding-block: 3rem;
}

.py-4 {
  padding-block: 4rem;
}

.px-1 {
  padding-inline: 1rem;
}

.px-2 {
  padding-inline: 2rem;
}

.px-3 {
  padding-inline: 3rem;
}

.px-4 {
  padding-inline: 4rem;
}

.d-f {
  display: flex;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.j-c {
  justify-content: center;
}

.j-s-b {
  justify-content: space-between;
}

.j-s-e {
  justify-content: space-evenly;
}

.j-s-a {
  justify-content: space-around;
}

.align-c {
  align-items: center;
}

.align-s {
  align-items: start;
}

.align-e {
  align-items: end;
}

.g-1 {
  gap: 1rem;
}

.g-2 {
  gap: 2rem;
}

.g-3 {
  gap: 3rem;
}

.g-4 {
  gap: 4rem;
}

.g-8 {
  gap: 310px;
}

.f-d-c {
  flex-direction: column;
}

.f-d-r {
  flex-direction: row;
}
